__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
dist/
build/
.git/
.github/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
.env
.env.*
config.yaml
Thumbs.db
*.tmp
*.swp
coverage/
specs/
test/
.claude
.trae
req_dev/
documentation/
.vscode
*.db
tools/